*{margin: 0; padding: 0;}
ul, ol, dl, li{list-style: none;}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.cf:after{content: ''; display: block; clear: both;}
body{overflow-y: scroll;}

.eventWrap{background: #7160c4;}
#event{width: 1420px; height: 46px; background: #7160c4; margin: 0 auto; color: #ffffff; line-height: 46px; text-align: center;}
	#event a{position: relative; left: 0; float: left; color: #ffffff;}
	#event>ul{float: right;}
	#event>.eventbox{width: 200px; height: 100%; background: #504487; text-align: left; line-height: 46px; padding: 5px; box-sizing:border-box;}
	#event>.eventbox>select{background: #504487; width: 100%; height: 100%; border: 0; color: #ffffff; float: left; padding: 0 5px; box-sizing: border-box;}
	#event ul a{padding-left: 20px;}
	#event ul a img{position: relative; top: 10px;}

.oneInner{background: #ffffff; height: 114px; position: relative; left: 0px; top: 0px; box-shadow: 0 4px 3px rgba(230,230,230,0.5);}	
	.oneDepth{width: 1420px; background: #ffffff; height: 114px; margin: 0 auto; box-shadow: 0 4px 3px rgba(230,230,230,0.5);}
	.oneDepth > li{float: left; height: 114px; padding-left: 30px;}
	.oneDepth > li > a{display: block; float: left; padding: 0 30px; line-height: 114px; height: 114px; color: #333333; font-size: 20px;}
	.oneDepth > li:hover .twoInner{display: block;}
	
.twoInner{width: 100%; background: white; position: absolute; top: 114px; left: 0; display: none; float: left; z-index:2; border-top: 1px solid #939393; border-bottom: 1px solid #939393;}
	.twoDepth{width: 1300px; background: #ffffff; margin: 0 auto;  line-height: 40px; height: 400px;}
	.twoDepth > ul{float: left; padding-right:40px; padding-left:10px; border-right: 1px solid #939393; font-size: 0.85em; text-align: left;}
	.twoDepth>.hm{height: 100%;}
	.twoDepth>.ml{margin-left: 160px; border-left: 1px solid #939393;}
	.twoDepth>.pr1{padding-right: 90px;}
	.twoDepth>.pr2{padding-right: 60px;}
	.twoDepth>.pr3{padding-right: 80px;}
	.twoDepth ul li a{color: #cac8ca;}
	#mainLogo{float: left; position: relative; top: 15px; padding-left: 0;}
	#mainLogo a{padding: 0;}
	#btnSearch{float: right;}
	#btnSearch a{display : block; padding: 0;}

.contwrap1{width: 100%; height: 150px; background: #f8f8f8;}
.cont{width: 1420px; margin: 0 auto;}
.pdU{width: 1420x; padding-top: 50px;}
.sm{position: absolute; float: left;}
.cont ul li{border: 1px solid #333333; border-bottom: 0;}
.cont .sm>li{background: #85695b url(../../images/lnb_bg.png) no-repeat center bottom; height: 150px; width: 250px; text-align: center; color: #ffffff;}
.cont .sm h2{line-height: 150px;}
.cont .smd>li{width: 249px; background: #ffffff; text-align: left;}
.cont .smd>li>a{width: 80%; padding: 20px; color: #333333; display: block;}
.cont .smd>li:last-child{border-bottom: 1px solid #333333;}
.cont .smd2{display: none;}
.cont .smd2>li{width: 249px; height: 50px; background: #f5f5f5; line-height: 50px; border: 0;}
.cont .smd2>li>a{padding: 0 20px; color: #000000;}
.cont .smd2>li:first-child{border-top: 1px solid #333333;}

.cont .title{float: left; margin-left: 40px; width: 1420px;}
.cont .title>h2{font-size: 35px; padding-bottom: 10px;}
.cont .title .titleImg1>img{width: 40px; height: 40px;}
.cont .title .titleImg1{font-size: 20px; width: 300px; height: 50px; line-height: 50px; display: block; margin-left: 258px;}
.cont .title .titleImg2>.shar{width: 40px; height: 40px; background: #ffffff url(../../images/ico_sns.png) no-repeat 0px 0px; display: block; border-radius: 50px; float: left;}
.cont .title .titleImg2>.print{width: 40px; height: 40px; background: #ffffff url(../../images/ico_sns.png) no-repeat 0px -40px; display: block; border-radius: 50px; float: left; margin-left: 10px;}

.contwrap2{width: 100%; height: auto; background: #ffffff; display: inline-block;}
.center{width: 1123px;}
.searchbox{width: 1123px; height: 70px; background: #f4f4f4; margin-top: 50px;}
.searchbox .sbox{width: 760px; height: 50px; margin: 0 auto; padding: 10px;}
.searchbox .sbox select{width: 160px; height: 50px; padding: 10px; font-size: 18px; background: #ffffff; border: 1px solid #000000; float: left; margin-right: 5px;}
.searchbox .sbox input{width: 498px; height: 48px; font-size: 18px; background: #ffffff; border: 1px solid #000000; float: left; margin-right: 5px; margin-left: 10px;}
#search{width: 70px; height: 50px; line-height: 50px; text-align: center; display: block; float: left; background: #000000; font-size: 18px; color: #ffffff;}

.searchmenu{width: 1123px; height: 80px; margin-top: 30px; margin-bottom: 20px;}
.searchmenu1{width: 187px; height: 80px; background: #ffffff; border: 1px solid #333333; border-right: 0; line-height: 58px; text-align: center; font-size: 20px; color: #000000; padding: 10px; box-sizing: border-box;}
.searchmenu1.br{width:188px; border-right: 1px solid #333333;}

.bookbox{width: 1123px; height: 340px; padding: 20px; box-sizing: border-box; border: 1px solid #e2e2e2; margin-bottom: 20px;}
.books{width: 220px; height: 280px; box-sizing: border-box; margin-right: 20px;}
.books img{width: 220px; height: 280px; object-fit: contain;}
.booktitle{width: 836px; height: 120px; padding-bottom: 10px; box-sizing: border-box; border-bottom: 1px solid #e2e2e2;}
.booktitle>h2{color: #85695b; font-size: 30px; line-height: 200%; margin-bottom: 10px;}
.booktitle>span{color: #646464; font-size: 18px; padding-right: 10px; margin-right: 10px; border-right: 1px solid #646464;}
.booktitle>span:last-child{border: 0;}
.bookcont{width: 836px; height: 200px; padding-top: 20px; box-sizing: border-box;}
.bookcont>p{overflow: hidden; float: left; text-overflow: ellipsis; height: 125px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; font-size: 20px; line-height: 150%;}

.next{width: 1123px; float: left; margin: 0 auto; margin-bottom: 20px; text-align:center;}
.next>ul{margin: 0 auto; text-align:center;}
.next>ul>li{border: 0; width: 30px; height: 30px; float: left; font-size: 20px; text-align: center; line-height: 30px;}
.next>ul>li>a{padding: 0 5px; display: inline-block;}
.next>ul>li.active{background: #000000;}
.next>ul>li.active>a{color: #ffffff;}

.footerWrap1{background: #dddfe3;}
#topfooter{width: 1420px; height: 90px; margin: 0 auto; background: #dddfe3; line-height: 90px; font-size: 18px;}
	#topfooter>a{color: #000000; padding: 0 20px; border-right: 1px solid #000000;}
	#topfooter>a:first-child{color: #4978ba; padding-left: 0;}
	#topfooter>a:nth-child(3){padding-right: 0; border: 0;}
	#topfooter .box{float: right; width: 400px; height: 70px; background: #ffffff; margin: 10px 0;}
	#topfooter .box>select{float: left; width: 280px; height: 70px; background: #ffffff; border: 0; font-size: 20px; margin-left: 20px; color: #444444; margin-right: 20px;}
	#topfooter .box>a{float: right; width: 75px; height: 70px; background: #ffffff; border-left: 1px solid #dddfe3; font-size: 20px; text-align: center; line-height: 70px; color: #444444;}

.footerWrap2{background: #f8f8f8;}
#bottomfooter{width: 1420px; height: 139px; margin: 0 auto; background: #f8f8f8; padding-top: 20px; color: #666666; font-size: 18px;}